@import url('reset.css');


@font-face {
	font-family: 'Roboto';
	src: url('../fonts/roboto/Roboto-Regular.woff2') format('woff2');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Roboto';
	src: url('../fonts/roboto/Roboto-Medium.woff2') format('woff2');
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Roboto';
	src: url('../fonts/roboto/Roboto-Bold.woff2') format('woff2');
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}

/* GLOBAL */

html,
body {
	height: 100%;
}

body {
	font-family: "Roboto", sans-serif;
	font-weight: 400;
	color: #212121;
}

.container {
	width: 1200px;
	margin: 0 auto;
	padding: 0 15px;
}

.subtitle {
	font-weight: 700;
	font-size: 36px;
}

/* HEADER */
.header {
	padding: 25px 0;
	font-size: 14px;
	font-weight: 500;
}

.header-container {
	display: flex;
	align-items: center;
}

.header-logo {
	margin-right: 90px;
}

.header-list {
	display: flex;
	gap: 50px;
	margin-right: auto;
	/* flex: 1; */
	/* flex-grow: 1; */
}

.header-item {}

.header-item a.active {
	color: #2196F3;
}

.header-email {}

.header-phone {
	margin-left: 50px;
}

.header-item a,
.header-email,
.header-phone {
	text-decoration: none;
}

.header-email,
.header-phone {
	text-decoration: none;
	color: #757575;
}

/* HERO */

.hero {
	background: #2F303A;
	min-height: 600px;
	display: flex;
	align-items: center;
	color: #fff;
}

.hero-container {
	width: 650px;
	margin: 0 auto;
	text-align: center;
}

.hero-title {
	font-size: 44px;
	line-height: 60px;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 2px;
	margin-bottom: 30px;
}

.hero-btn {
	background: #2196F3;
	padding: 17px 52px;
	color: #fff;
	cursor: pointer;
	font-weight: 700;
	border-radius: 4px;
}

/* !DO section */
.doing {
	padding: 94px 0;
}

.doing-title {
	margin-bottom: 50px;
	text-align: center;
}

.doing-cards {
	display: flex;
	gap: 30px;
	/* row-gap: 30px; */
}

.doing-card {
	position: relative;
	width: 33.333%;
	height: 294px;
	gap: 30px;
	/* flex: 1; */
}

.dz11 {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 370px;
	height: 0px;
	color: #fff;
	position: absolute;
	bottom: 0px;
	left: 0;
	background: #2F303A;
	opacity: 1;
	font-weight: 0;
	font-size: 0px;
	line-height: 0;
	text-transform: uppercase;
	transition: all .4s;
}

/* .doing-card::after{
	display: block;
	content: '';
	width: 100%;
	height: 5px;
	background: red;
	opacity: 1;
} */

.doing-card:hover .dz11 {
	opacity: 80%;
	height: 70px;
	font-weight: 700;
	font-size: 14px;
	line-height: 16.41px;
}


.doing-card img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}



/* h3 */

.about {
	width: 1200px;
	margin: 0 auto;
}

.about>div{
	display: flex;
	padding-top: 94px;
	gap: 30px;
}
.container-about {
	color: #757575;
	font-size: 14px;
	font-weight: 400;
	line-height: 24px;
	
}

.container-about>div>h3 {
	color: #212121;
	font-size: 14px;
	font-weight: 700;
	text-transform: uppercase;
}

.container-about>div {
	border-radius: 4px;
}

.people {
	margin-bottom: 94px;
}
.container-people {
	margin: 0 auto;
	width: 1170px;
}
.people-title {
	margin-bottom: 50px;
	text-align: center;
}
.subtitle {
}


.people-cards {
	text-align: center;
	display: flex;
	gap: 30px;
	width: 270px;
	height: 428px;
}

.people-cards>article>h3 {
	flex-wrap: wrap;
	align-content: flex-start;
	padding-top: 30px ;
	font-weight: 500;
	font-size: 16px;
}

.people-cards>article{
	flex: 1 1 20%;
	border-top: 0px solid #757575;
	border-bottom: 2px solid #757575;
	border-left: 1px solid #757575;
	border-right: 1px solid #757575;
}

.people-cards>article>div {
	padding-top: 10px;
	color: #757575;
	font-weight: 400;
	font-size: 16px;
}

/* portfolio */

.portfolio {
	width: 1200px;
	margin: 0 auto;
	margin-top: 28px;
	
}

.container-portfolio>div{
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: flex-start;
	gap: 8px;
	flex-direction: row;
	text-align: center;
}

.container-portfolio h3 {
	padding: 6px 25px;
	font-weight: 500;
	font-size: 16px;

}

.cards>article {
	gap: 30px;
}

.card-img {
	display: block;
	position: relative;
	text-decoration: none;
}

.card-img:hover .text  {
	opacity: 1;
	height: 294px;
	font-weight: 400;
	font-size: 18px;
	line-height: 28px;
}

.text {
	position: absolute;
	color: black;
	display: flex;
	padding: 63px 24px;
	align-content: center;
	color: #fff;
	background-color: rgba(33,	150, 243, 0.8);
	font-weight: 0;
	font-size: 0px;
	line-height: 0px;
	opacity: 0;
	height: 0;
	transition: all .4s;
}

.cards {
	margin-top: 30px;
	display: flex;
	gap: 30px;
	flex-wrap: wrap;
}

.cards h3 {
	font-weight: 700;
	font-size: 18px;
	line-height: 36px;
}

.cards p {
	line-height: 30px;
	font-weight: 400;
	font-size: 16px;
	color: #757575;
	margin-bottom: 5px;
}

.card-name a{
	text-decoration: none;
}

.info-img{
	padding: 25px 100px;
	background:#F5F4FA;
	border-radius: 4px;
}

.info-img1{
	width: 70px;
	height: 70px;
}

.info-img2{
	width: 70px;
	height: 70px;
}

.info-img3{
	width: 70px;
	height: 70px;
}

.info-img4{
	width: 70px;
	height: 70px;
}

.social {
	display: flex;
	flex-direction: column;
	width: 206px;
	height: 80px;
	padding-left: 20px;
}



.social>span{
	text-transform: uppercase;
	color: #ffff;
	font-weight: 700px;
	font-size: 14px;
}

.icon-img {
	display: flex;
	flex-wrap: wrap;
	padding-top: 20px;

}

.card11 {
	display: flex;
    flex-direction: column;
}

.icon-img1 {
	display: flex;
	flex-wrap: wrap;
    align-content: center;
	justify-content: center;
	padding-top: 16px;
}

.icon-img1>li{
	display: flex;
	flex-wrap: wrap;
    align-content: center;
	justify-content: space-around;
	width: 44px;
	height: 44px;
	border-radius: 100%;
	transition: all .4s;
}

.icon-img1 li:hover{
	background: #2196F3;
}

.icon-img1 svg{
	width: 20px;
	height: 20px;
}

.icon-img li{
	display: flex;
	flex-wrap: wrap;
    align-content: center;
	justify-content: space-around;
	width: 44px;
	height: 44px;
	border-radius: 100%;
	transition: all .4s;
}

.icon-img li:hover{
	background:#2196F3;
}

.icon-img svg{
	width: 20px;
	height: 20px;
}


/* FOOTER */

.footer {
	background: #2F303A;
	padding: 60px 81px;
	margin-top: 94px;
}

.footer-container {
	display: flex;
    position: relative;
    gap: 9px;
    flex-direction: row;
    align-items: flex-start;
}

.footer-logo {
	margin: 0 0 11px;
}

.footer p {
	color: #fff;
}

.footer a {
	text-decoration: none;
	color: #757575;
	font-size: 14px;
}

.footer-info{
	position: relative;
	display: flex;
	gap: 9px;
	flex-direction: column;
	align-items: flex-start;
}

.customers {
	margin: 0 auto;
	width: 1200px;
}

.container-customers {}


.container-customers svg {	
	width: 40px;
	height: 30px;	
}

.customers-card article {
	width: 170px;
	height: 92px;
}

.carddd {
	display: flex;
	gap: 30px;
}
.customers-card a{
	display: block;
	width: 106px;
	height: 60px;
}


.customers-card {
	border: #AFB1B8 solid 1px;
	width: 170px;
	height: 92px;
	padding: 16px 32px;
	transition: all .4s;
}

.section-customers svg{
	width: 100%;
	height: 100%;
	fill: #AFB1B8;
	transition: all .4s;
}

.customers-card:hover svg {
	fill: #2196F3;
}

.customers-card:hover {
	border: #2196F3 solid 1px;
}

.section-customers {
	display: flex;
	flex-wrap: wrap;
    justify-content: center;
	align-content: center;
	width: 106px;
	height: 60px;
}
